<%= form_with(model: [@post, @post.comments.build],
local: true) do |f| %>
  <div class="card-body">
    <%= f.text_area :content, placeholder: "アドバイスをする" %>
  </div>
  <div class="actions">
    <%= f.submit "アドバイスする", class: "btn-adv" %>
  </div>
<% end %>
