/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";

h2 {
  text-align: center;
}

.background {
  background-color: #f7f7f7;
}

/* login, signupform */
.new-user-form {
  width: 400px;
  margin: 10% auto;
}

/* new-form */


/* post-index */
.card-border {
  margin-bottom: 70px;
  .card-body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0;
    .card-text {
      color: #adb5bd;
    }
    .icon .fa-calendar {
      color: #dee2e6;
    }
    .post-time {
      color: #dee2e6;
    }
  }
}

.date-fact {
  padding-left: 0;
}

li {
  list-style: none;
}

/* post-show */
.post-com {
  margin-bottom: 5px;
}
.com-body {
  padding-bottom: 0px;
}
