// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*     */
/* top */
/*     */
.bg-img {
  position: relative;
  margin-bottom: 70px;
}

.bg-img p {
  position: absolute;
  // color: #dee2e6de;
  color: white;
  // font-size: 2em;
  font-weight: bold;

}

.bg-login {
  position: absolute;
  top: 70%;
  left: 30%;
  .log {
    opacity: .7;
  }
}

.bg-sign_up {
  position: absolute;
  top: 70%;
  left: 55%;
}

.top_img {
  opacity: .8;
}

@media screen and (min-width: 641px) {
	.top_img {
		width: 100%;
		height: auto;
    margin: auto;
	}

  .bg-tomorrow {
    top: 30%;
    left: 50%;
    font-size: 45px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .bg-really {
    top: 45%;
    left: 50%;
    font-size: 45px;
    -ms-transform: translate(-55%,-50%);
    -webkit-transform: translate(-55%,-50%);
    transform: translate(-55%,-50%);
  }

  .bg-go {
    top: 60%;
    left: 50%;
    font-size: 45px;
    -ms-transform: translate(-60%,-50%);
    -webkit-transform: translate(-60%,-50%);
    transform: translate(-60%,-50%);
  }
}
@media screen and (max-width: 640px) {
	.top_img {
		width: 500px;
		height: auto;
    margin: auto;
	}

  .bg-tomorrow {
    top: 30%;
    left: 50%;
    font-size: 2em;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .bg-really {
    top: 45%;
    left: 50%;
    font-size: 2em;
    -ms-transform: translate(-55%,-50%);
    -webkit-transform: translate(-55%,-50%);
    transform: translate(-55%,-50%);
  }

  .bg-go {
    top: 60%;
    left: 50%;
    font-size: 2em;
    -ms-transform: translate(-60%,-50%);
    -webkit-transform: translate(-60%,-50%);
    transform: translate(-60%,-50%);
  }
}
