// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*            */
/* post-index */
/*            */

.card-border {
  margin-bottom: 70px;
  .card-body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0;
    .index-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .card-text {
      color: #adb5bd;
    }
    .icon .fa-calendar {
      color: #dee2e6;
    }
    .post-time {
      color: #dee2e6;
    }
  }
}

.date-fact {
  padding-left: 0;
}

li {
  list-style: none;
}



/*            */
/* post-show */
/*            */

.main {
  margin: 70px 0 100px 0;
}

.post-com {
  margin-bottom: 5px;
}
.com-body {
  padding-bottom: 0px;
}
.main-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-comment {
  background-color: #00b5e1ad;
}
.comment-index hr .comment-form {
  background-color: white;
}
.font-center {
  text-align: center;
}
