// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*            */
/* post-index */
/*            */

.post-border {
  margin-bottom: 50px;
  .post-index-body {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    padding: 1.25rem 1.25rem 0 1.25rem;
  .post-index-head {
    height: 200px;
    .index-img {
      object-fit: contain;
      width: 100%;
      height: 185px;
    }
  }
  .post-name {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
  }


    .post-index-text {
      color: #345468;
      margin: 20px 0 0 0;      
    }
    .icon .fa-calendar {
      color: gray;
    }
    .post-time {
      color: gray;
    }
  }
}

.date-fact {
  padding-left: 0;
  margin: 5px 0;
}

li {
  list-style: none;
}



/*            */
/* post-show */
/*            */

.main {
  margin: 70px 0 100px 0;
}

.post-com {
  margin-bottom: 5px;
}
.com-body {
  padding-bottom: 0px;
}
// .main-img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }
.card-comment {
  background-color: #00b5e1ad;
}
.comment-index hr .comment-form {
  background-color: white;
}
.font-center {
  text-align: center;
}
