// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*             */
/* user  index */
/*             */
.box {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;

  .user-index-box {
    width: 250px;
    height: 250px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    margin: 10px;

    .user-index-img {
      .index-icon {
        width: 246px;
        height: 95.5px;
        border-radius: 10px 10px 0 0;
      }
      .prof_icon {
        width: 246px;
        height: 95.5px;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .user-index-info {

    .user-index-name {
      margin: 10px 0;

      .user-name {
        font-weight: 600;
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }
    .user-index-gender {
      margin-bottom: 8px;
    }
    .user-index-introduction {
      color: #345468;
    }
  }
}







/*             */
/* user  show */
/*             */

.box {
  // ユーザーイメージ
  .user-image {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    .name-head {
      border-bottom: 2px solid #cfcfcf;

      .user-name {
        text-align: center;
      }
    }

    .user-prof-img {

      .img-body {
        margin: 20px 0 20px 0;
        .user-show-img {
          object-fit: contain;
          width: 100%;
          height: 165px;

        }
        .prof_icon {
          object-fit: contain;
          width: 100%;
          height: 165px;
        }
      }
    }
  }
  // ユーザー詳細
  .user-info {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);

  }
  // 投稿一覧
  .user-post-square {
    // border: 2px solid #cfcfcf;
    // border-radius: 10px;

    .user-post-title {
      text-align: center;
      font-weight: bold;
    }

    .user-post-all {

      .post-square {
        border: 2px solid #cfcfcf;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px;
        // width: 520px;

        .post-img-body {
          height: 300px;
          border-bottom: 2px solid #cfcfcf;

          .square-img {
            object-fit: contain;
            width: 100%;
            height: 280px;
          }
        }

        .post-inner {
          padding: 20px;

          .title {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.3rem;
          }

          .inner-text {
            color: #345468;
            margin-top: 20px;
          }

          .date-fact {
            margin: 5px 0;

            .icon {
              color: gray;
            }

            .post-time {
              color: gray;
            }
          }
        }
      }
    }
  }
}



/*              */
/*  user edit　*/
/*              */

// 共通部分
.edit-each {
  display: flex;
  align-items: center;
  margin-top: 15px;

  .edit-label {
    width: 200px;

    p {
      text-align: right;
      color: #2B556A;
    }
  }

  .edit-form {
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: auto;
  }

  .edit-introduction {
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    width: 300px;
    margin: auto;
  }
}

// 共通部分


.user-profile {

  .profile-edit {
    border: 2px solid #cfcfcf;
    border-radius: 10px;

    .edit-img {

      .user-img {
        object-fit: contain;
        width: 100%;
        height: 165px;
        margin-top: 15px;
      }

      .prof-icon {

      }

      .img-file {
        margin-top: 15px;
        text-align: center;
      }
    }

    .edit-info {
      padding: 20px;

    }
  }

  .submit {
    margin-top: 25px;
    text-align: center;
    
    .update {
      border: 1px solid #35B3DC;
      border-radius: 20px;
      color: white;
      background-color: #35B3DC;
      padding: 5px 15px;
    }
  }
}
