// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*             */
/* user  index */
/*             */
.box {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;

  .user-index-box {
    width: 250px;
    height: 250px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    margin: 10px;

    .user-index-img {
      .index-icon {
        width: 246px;
        height: 95.5px;
        border-radius: 10px 10px 0 0;
      }
      .prof_icon {
        width: 246px;
        height: 95.5px;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .user-index-info {

    .user-index-name {
      margin: 10px 0;

      .user-name {
        font-weight: 600;
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }
    .user-index-gender {
      margin-bottom: 8px;
    }
    .user-index-introduction {
      color: #345468;
    }
  }
}







/*             */
/* user  show */
/*             */

.box {
  // ユーザーイメージ
  .user-image {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    .name-head {
      border-bottom: 2px solid #cfcfcf;

      .user-name {
        text-align: center;
      }
    }

    .user-prof-img {

      .img-body {
        margin: 20px 0 20px 0;
        .user-show-img {
          object-fit: contain;
          width: 100%;
          height: 165px;

        }
        .prof_icon {
          object-fit: contain;
          width: 100%;
          height: 165px;
        }
      }
    }
  }
  // ユーザー詳細
  .user-info {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);

  }
  // 投稿一覧
  .user-post-square {
    // border: 2px solid #cfcfcf;
    // border-radius: 10px;

    .user-post-title {
      text-align: center;
      font-weight: bold;
    }

    .user-post-all {

      .post-square {
        border: 2px solid #cfcfcf;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px;
        // width: 520px;

        .post-img-body {
          height: 300px;
          border-bottom: 2px solid #cfcfcf;

          .square-img {
            object-fit: contain;
            width: 100%;
            height: 280px;
          }
        }

        .post-inner {
          padding: 20px;

          .title {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.3rem;
          }

          .inner-text {
            color: #345468;
            margin-top: 20px;
          }

          .date-fact {
            margin: 5px 0;

            .icon {
              color: gray;
            }

            .post-time {
              color: gray;
            }
          }
        }
      }
    }
  }
}






// .user-profile {
//
//   .user-show {
//     border: 1px solid #cfcfcf;
//     .user-img {
//       // height: 260px;
//       margin-bottom: 20px;
//
//       .img-head {
//         border-bottom: 1px solid #dee2e6;
//         text-align: center;
//       }
//
//       .img-body {
//         padding-top: 20px;
//
//         .user-show-img {
//
//         }
//
//         .prof_icon {
//           border-radius: 50%;
//         }
//       }
//     }
//   }
// }
//
//
//
// .user-info {
//   border: 1px solid #cfcfcf;
//   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
//
// }
//
// .user-posted {
//   border: 1px solid #dee2e6;
//   width: 550px;
//   margin: 0 auto;
//   .user-posted-square {
//     width: 400px;
//     margin: 0 auto;
//   }
//   .square {
//     border: 2px solid #cfcfcf;
//     margin: 0 auto;
//     margin-bottom: 20px;
//     width: 380px;
//     .square-head {
//       width: auto;
//       .square-img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }




/*              */
/*  user edit　*/
/*              */
.edit-profile-wrapper {
  margin-top: 60px;
  border: 1px solid black;
  background-color: white;
}
