
<footer class="nav navbar-bottom color">
  <div class="footer-under">
    <div class="footer-font">
      <p id="footer-font1">
      Copyright ©︎2019 Dating All Right Reserved
      </p>
      <p id="footer-font2">
        <%= link_to 'Datingとは', '#' %>
      </p>
      <p id="footer-font3">
        <%= link_to 'お問い合わせ', '#' %>
      </p>
    </div>
  </div>
</footer>
